NODE_ENV=development
PORT=3333

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=black_barber

# Security
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
MASTER_CLIENT_SECRET_KEY=

# CORS
FRONTEND_URL=http://localhost:5173

# SMTP / Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
